{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Home Page ------------                       Favourites</h1>
<h2>Reading list</h2>

<div>
	

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<style>
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
</style>
<body>

<div class="w3-container w3-black w3-center w3-allerta">
  <p class="w3-xlarge">Making the Web!</p>
  <p class="w3-xxxlarge">Interview Tips</p>
</div>

</body>
</html>
<h2>Review common interview questions. ...
Make a list of questions that you would like to ask during the interview. ...
Be prepared. ...
On the day of the interview, remember to:
Display confidence during the interview , but let the interviewer start the dialogue. ...
End the interview with a good impression.</h2>
</div>

<div class="w3-container w3-black w3-center w3-allerta">
  <p class="w3-xlarge">List of success stories</p>
  <p class="w3-xxxlarge">Interview Tips</p>
</div> 
{% endblock %}